*.pyc
*.swp
*.o
*.out
*.cache
*~
serveur
Serveur/Makefile
Serveur/config.h
Serveur/config.log
Serveur/config.status
Serveur/depcomp
Serveur/install-sh
Serveur/missing
Serveur/configure
Serveur/aclocal.m4
Serveur/Makefile.in
Serveur/.deps
Serveur/v4l2grab
Serveur/stamp-h1
Serveur/compile
